<template>
    <lightning-button variant="brand" label="IpAddress"  onclick={handleClick} class="slds-m-left_x-small"></lightning-button>  
    <br/>
        {iptest}
        <br/>
    Hi {name}
</template>